<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Payment Requests</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="/style.css">

    <style>

        .container {
            width: 95%;
            max-width: 1300px;
            margin: 40px auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 14px;
            border-bottom: 1px solid #ccc;
            text-align: center;
        }

        th {
            font-weight: 600;
        }

    </style>

</head>
<body>

<button class="toggle-btn"
        onclick="toggleDarkMode()"
        id="toggle-icon">🌙</button>

<div class="container">

    <h2>Pending Payments</h2>

    <table>

        <thead>

        <tr>

            <th>ID</th>
            <th>User</th>
            <th>Document</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Payment</th>
            <th>Action</th>

        </tr>

        </thead>

        <tbody>

        <tr th:each="request : ${requests}">

            <td th:text="${request.id}"></td>

            <td th:text="${request.user.email}"></td>

            <td th:text="${request.documentName}"></td>

            <td th:text="${request.amount}"></td>

            <td>

    <span class="badge"
          th:classappend="

            ${request.status.name() == 'PENDING'} ? ' badge-pending' :

            (${request.status.name() == 'APPROVED'} ? ' badge-approved' :

            (${request.status.name() == 'REJECTED'} ? ' badge-rejected' :

            ' badge-completed'))"

          th:text="${request.status}">
    </span>

</td>

            <td>

    <span class="badge"
          th:classappend="

            ${request.paymentStatus.name() == 'PAID'} ?

            ' badge-paid' :

            ' badge-unpaid'"

          th:text="${request.paymentStatus}">
    </span>

</td>

            <td>

                <form th:action="@{'/admin/pay/' + ${request.id}}" method="get">
    <button type="submit" class="small-btn btn-green">
        Mark Paid
    </button>
</form>

            </td>

        </tr>

        </tbody>

    </table>

    <br>

    <form th:action="@{/admin/dashboard}" method="get">
    <button type="submit" class="small-btn btn-blue">
        Back to Dashboard
    </button>
</form>

</div>

<script src="/theme.js"></script>

</body>
</html>